# Docker Environment Variables
# Kopiere diese Datei zu docker-compose.yml und passe die Werte an

DB_HOST=diglas.ddns.net
DB_PORT=8564
DB_NAME=appdb
DB_USER=User198738
DB_PASSWORD=sadfjkhk908ewrsdkfhjk

